$ git status
$ cat .git/info/exclude
# ignore objects and archives, anywhere in the tree.
*.[oa]
*.so
*.Rhistory
*.Rbuildignore
*.html

doc
Meta
/doc/
/Meta/
/vignettes/InformationForPackageAuthors_cache/
.Rproj.user
*.Rproj
*.Rbuildignore
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
